@import "components/variables";

body {
    padding: 0;
    margin: 0;
    background-color: map-get($map: $colores, $key: 'color1' );


}

@import 'components/header';

@import 'components/adoptar';

@import 'components/historias';

@import 'components/footer';