body {
    margin: 0;
    padding: 0;
    background-color: #F1ECC3;


}

.contenedor-global{

    width: 90%;
    max-width: 2000px;
    margin: 2px auto;
    display: grid;
    grid-gap: 2px;
}

/* Imagen de fondo del header */
.fondo {

    height: auto;
    max-width: 100%;

}

/* NAVEGACION */
.nav {
    background-color: #C9D8B6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/* .nav{

    text-decoration: none;
    list-style-type: none;
    justify-items: center;
   
} */



/* items de navegacion */
.nav li {
    background-color: #F1EEE9;
    margin: 4px 0px;
    padding: 0px;
    border-radius: 5%;
    display: flex;
    transition-duration: 0.3s;


}

.nav li:hover{

    transform: scale(1.14);
}

/* enlace de la navegacion */
.nav li a {

    text-decoration: none;
    color: #515E63;
    font-size: 30px;
    font-family: 'Viga', sans-serif;
    margin: 0px 2px;

}


/* logo de la pagina */
.logo {

    width: 210px;
    height: 210px;
}













/* ZONA PARA ADOPTAR ANIMALES */
.section-adoptar {
    background-color: #7fb4aa;
    padding: 2em 0;
    margin: 1em 0;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 0.7rem;


}


/* Cuadro de enlace de adopcion */
.section-adoptar a {

    font-family: Sigmar one;
    color: #486963;
    text-decoration: none;
}












/* Section de la historia de un perro antes y despues del refugio */
.section-antes-despues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;



}

/* texto de la historia */
.section-antes-despues div p {

    font-size: 20px;
    font-family: Alice;
    width: 30em;
}


/* imagenes de los perros antes y despues */
.img-antes-despues {

    width: auto;

}












footer {
    background-color: #C9D8B6;

}

/* Contenedor del footer */
.contenedor-footer {


    display: grid;
    grid-template-columns: auto auto auto;
    align-items: end;

    




}
/* contenedor de Redes sociales */
.contenedor-redes{
    
    margin: 0.5em;
    width: 10em;
    height: auto;
}

/* enlaces a Redes sociales */
.contenedor-redes a {
    text-decoration: none;
    font-family: monoton;
    justify-self: center;
}




.contenedor-boton{
    margin: 10px 0px;
    padding: 0px;
    justify-self: center;
}




/* boton para subir */
.contenedor-boton button a {
    
    margin: 0px;
    padding: 0;
    text-decoration: none;

}

.contenedor-logo{

    justify-self: end;
}







































/* NOSOTROS */

.section-nosotros{
    box-sizing: border-box;
}

/* Contenedor general */
.contenedor-imagen-texto {

   width: 100%;
   max-width: 110em;
   margin: auto;
   background-color: #F1EEE9;
   padding: 3em 3.5em;

}

/* imagenes */
.contenedor-imagen-texto img {
    width: 600px;
    height: 400px;
        
}

/* Texto */
.contenedor-imagen-texto p {

    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;

}







/* Contenedor mapa y texto */

.contenedor-mapa {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}


/* Texto */
.contenedor-mapa p {

    font-family: 'Lato', sans-serif;
    width: 400px;
    margin-left: 20px;
}


/* FIN NOSOTROS */
































/* HISTORIAS */

/* Texto */
.contenedor-imagen-texto .texto-historia {

    width: 900px;
    font-size: 20px;
}

/* Foto */
.imagen-historia {

    width: 700px;
    height: 500px;
}

/* FIN HISTORIAS */
















/* DONAR */



.opciones-donar {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.caja-donar {
    margin: 10px;
    padding: 25px;
    border: 2px solid #515E63;
    background-color: #2155CD;
}

.caja-donar a {

    text-decoration: none;
    color: #F1EEE9;
    font-family: Sigmar one;
}



/* FIN DONAR */


/* CONTACTO */

.formulario {

    width: 900px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px solid black;
}

.entrada {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

}

#mensaje {

    height: 20px;
}


.boton-enviar {

    margin-left: 400px;

}

.boton-enviar a {

    text-decoration: none;
    padding: 0px 15px;


}