//variables
$color1:#F1ECC3;
$color2: #7fb4aa;
$color-nav: #C9D8B6;

$colores: (
    'color1':#F1ECC3,
    'color2':#7fb4aa,
    'color-nav': #C9D8B6,
    'color-a': #536351,
    'color-a-hover': #273c46,
    // color de letra de los cuadros de adopcion
    'color4': #5b6948

);