//variables
// color de iconos: barra de menu y redes sociales
$coloriconos:#010036;

$coloresfondos: (
    //general
    'color1':#FFEEDB,
    // header y menu
    'color2':#F1ECC3,
    // menu hover
    'color4': #eeec98,
    //footer contacto-formulario-btn
    'color5': #0A1D37,
    // section adoptar
    'color6': #FFD8CC,
    // section-historias
    'color7': #FFBD9B,
    // contenedor-boton a
    'color8': #ffff,
    // contenedor-boton a:hover
    'color9': #4CAF50,
    // card 2
    'color10': #50af50,
    // card 2
    'color11': #49370f,
    // botones +
    'color12': #8982ee,
    // botones
    'color13': #14d124,
    // card-header +
    'color14': #ff416c,
    // card-header
    'color15': #ff4b2b,
    // contacto-formulario-btn
    'color16': #0b4cda,
    
);

$coloresletras: (
    //contenedor-redes: h5 y a
    'color1':#F1ECC3,
    // menu
    'color3': #0A1D37,
    //boton 
    'color4': #0A1D37,
    //boton:hover card-contenido info
    'color5': #ffffff,
    //cuadros de adopcion
    'color6': #5e9e1d,
    // h1
    'color7':#FFBD9B,

);
$coloresbordes: (
    // navegacion a
    'color1':#ffffff,
    // contenedor-boton a
    'color2':#4CAF50,
    // card3
    'color3':#bd1212,
    // contacto-formulario-texto
    'color4':#010036,


);
$coloressombras: (
    // contenedor-adoptar cuadro
    'color1':#b38548,
    // contenedor-adoptar cuadro:hover
    'color2':#0A1D37,
    // card2
    'color3':#121310,
);